<!DOCTYPE html>
<html>
<head>
  <title>OutFly Social Fly-Fishing Journal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
      body {
        padding: 20px;
      }
  </style> 
    
</head>

<body>



  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "OutFly", root_path, class: "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li> <%= link_to "Home", root_path, class: "active" %> </li>
            <li> <%= link_to "About", about_path %> </li>
            <li> <%= link_to "Contact", contact_path %></li>
          </ul>
          <ul class="nav pull-right">
            <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">& Post a Journal Entry</a></li>
                <li><a href="#">& Post a Photo</a></li>
                <li><a href="#">& Read your Journal</a></li>
                <li class="divider"></li>
                <li><a href="#">Search your Journal</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

  <div class="container">

    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
   
    <%= yield %>

  </div><!-- container -->

</body>

</html>
